model-viewer {
  height: 50vh;
  width: 100%;
}

audio, model-viewer {
  z-index: 1;
}

.main-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 
}
.walking-cycle-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-top: 50px;
  margin-left: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
.walking-cycle-gif {
  width: 400px;
}
.caption {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  font-size: 22px;
  line-height: 32px;
}
.audio {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 50px;
}
.audio-one {
  margin-bottom: 22px;
}
.caption-two {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  font-size: 22px;
  line-height: 32px;
  width: 300px;
  margin-top: 22px;
}
.movie {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  margin-left: 100px;
  margin-top: 50px;
}
.caption-three {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  font-size: 22px;
  line-height: 32px;
  width:568.8px;
  margin-top: 22px;
}
.tinkercad-ss {
  display: flex;
  flex-direction: column;
  margin-left:50px;
}
.tink {
  width: 400px;
  margin-top: 50px;
}
.caption-four {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  width: 400px;
  font-size: 22px;
  line-height: 32px;
  margin-top: 22px;
}
.caption-four {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  font-size: 22px;
  line-height: 32px;
  width: 300px;
  margin-top: 22px;
  margin-left: 120px;
}
.caption-five {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  font-size: 22px;
  line-height: 32px;
  width: 300px;
  margin-top: 22px;
  margin-left: 150px;
}
.donut-model, .goblin-model, .robot-model {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 50px;
}
.caption-six {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  font-size: 22px;
  line-height: 32px;
  width: 300px;
  margin-left: 120px;
}